

<div class="content" role="main">

  <h1>
    Conference Track Management
 </h1>
 <span>{{ title }} app is running!</span>
 
 <h2>
   Enter Input Here:
 </h2>
 <div fxLayout="column">
   <textarea matInput [(ngModel)]="inputString" rows="25" style="width:800px"></textarea>
   <button type="button" (click)="compute()">Run</button>
 </div>
 Ensure that each line has a name and time (no empty strings)
 
 <h2>
   Output:
 </h2>
 <div *ngFor="let track of tracks; let i = index;">
   <h3>Track {{ i }}</h3>
   <h4>Morning Session</h4>
   <table>
     <tr>
       <th style="width: 70px">
         Time
       </th>
       <th>
         Talk
       </th>
       <th>
         Length
       </th>
     </tr>
     <tr *ngFor="let talk of track.morningSession.talks">
       <td>
         {{ talk.startTime.format('HH:mm:ss') }}
       </td>
       <td>
         {{ talk.name }}
       </td>
       <td>
         {{ talk.minutes }} min
       </td>
     </tr>
   </table>
 
   <h4>Afternoon Session</h4>
   <table>
     <tr>
       <th style="width: 70px">
         Time
       </th>
       <th>
         Talk
       </th>
       <th>
         Length
       </th>
     </tr>
     <tr *ngFor="let talk of track.afternoonSession.talks">
       <td>
         {{ talk.startTime.format('HH:mm:ss') }}
       </td>
       <td>
         {{ talk.name }}
       </td>
       <td>
         {{ talk.minutes }} min
       </td>
     </tr>
   </table>
 </div>

</div>


<router-outlet></router-outlet>